@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --color01: #bb3f33;
    --color02: #72572b;
    --background-color01: #fcfce4;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    background-color: var(--background-color01);
}

.wapper {
    width: 80%;
    margin: 0 auto;
}

.logo {
    width: 100%;
    height: 300px;
    background-image: url(../images/imgay.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu {
    height: 50px;
    background-color: var(--color01);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    width: 45%;
    display: flex;
    justify-content: space-evenly;
}

li {
    width: 70px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 5px 5px 10px #000; */
}

main {
    background-color: #fff;
    padding: 20px 60px;
    font-size: 18px;
    text-align: center;
}

.title {
    color: #f00;
    margin: 5px 0;
}

main p {
    margin: 5px 0;
}

.more {
    width: 120px;
    height: 50px;
    margin: 10px auto;
    background-color: var(--color01);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 50px;
    line-height: 50px;
    background-color: var(--color02);
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .wapper {
        width: 100%;
    }

    .logo {
        width: 100%;
        height: 180px;
    }

    .menu {
        height: inherit;
    }

    .menu ul {
        width: 100%;
        display: block;
        text-align: center;
    }

    .menu li {
        width: 100%;
    }
    
}