* {
    margin: 0;
    padding: 0;
}

:root {
    --color01: #fff897;
    --color02: #fae96f;
    --color03: #f6c101;
    --color04: #ec9d00;
    --color05: #df8d03;
    --color06: #c96e12;
}

body {
    background-color: var(--color02);
}

a {
    color: #fff;
    text-decoration: none;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.banner {
    background-image: url(../images/beer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 500px;
}

nav {
    background-color: var(--color03);
    height: 60px;
    display: flex;
    justify-content: center;
}

ul {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    :hover {
        background-color: var(--color04);
    }
}

li {
    width: 100px;
    font-size: 18px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--color01);
    padding: 50px;
    text-align: center;
}

.info h1,p {
    padding: 10px 0;
}

.gotosign {
    background-color: var(--color03);
    width: 120px;
    height: 40px;
    margin: 5px auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grouping {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    >div {
        width: 30%;
    }
}

.img-sign {
    height: 250px;
    position: relative;
    img {
        width: 100%;
        height: 100%;
    }
}

.sign {
    width: 100%;
    height: 0;
    background-color: #00000088;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.img-sign:hover .sign {
    opacity: 1;
    height: 100%;
    transition: height 0.5s;
}